body {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 0;
    font-family: Trebuchet MS, sans-serif;
    font-size: 1em;
    background-color: #f3f3f3;
    color:#071822;
}

.site_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2074a2;
    color: #c5e8e8;

    & h1 {
        padding: 0 1em;
        font-size: 1.5em;
        font-family: Andale Mono, monospace;
        font-stretch: condensed;
        color: #c5e8e8;
        text-shadow: 0.05em 0.05em 0.1em #071822;
    }
}

.secret_link{
    text-decoration: none;
    font-size: 0.8em;
}

#cat{
    color: #071822;
    position: absolute;
    top: 1em;
    right: 2em;
    /*text-shadow: 0.05em 0.05em 0.1em #eaf6f6;*/
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6cc5d2;

    & a {
        color: #2074a2;
        text-decoration: none;
    }
}

.navigation {
    padding: 0 0 0 0.5em;

    & li {
        display: inline;
        border-style: solid;
        border-color: #c5e8e8;
        border-radius: 1em;
        background-color: #c5e8e8;
        margin: 0.5em;
        padding: 0.3em 0.6em;
    }

    & li:hover, .button:hover {
        box-shadow: 0 0 0.5em #2074a2;
    }

    .current-mode {
        border-color: #2074a2;
        background-color: #2074a2;
    }

    .current-mode a {
        color: #c5e8e8;
    }
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url("../img/cats.png");
    background-repeat: repeat;
}

.main-stuff {
    width: 30%;
    min-width: 18em;
}

.main-table {
    width: 70%;
}

@media screen and (max-width: 65em) {
    .main-stuff, .main-table {
        width: 100%;
    }

    .hello{
        display: none;
        visibility: hidden;
    }
}

h2{
    margin: 0 0.5em 0 0.5em;
    color: #2074a2;
}

.h-wrapper{
    border-style: solid;
    border-color: #ffffff;
    border-radius: 1em;
    background-color: #ffffff;
    padding: 0.1em;
}

h3{
    margin: 0 0.5em 0.5em 0;
}

.container {
    margin: 1em;
    padding: 0.5em;
}

q{
    font-style: italic;
}

.hello{
    border-style: solid;
    border-color: #c5e8e8;
    border-radius: 1em;
    background-color: #c5e8e8;
}

.hello article{
    margin: 0.5em;
}

.task_creation {
    border-style: solid;
    border-color: #ffffff;
    border-radius: 1em;
    background-color: #ffffff;
    max-width: 20em;
}

.input-field {
    margin: 0.5em 0.5em 0.5em 0;
}

.input {
    border: 0.1em solid #2074a2;
    border-radius: 0.15em;
    background: transparent;
    padding: 0.2em 0.3em;
}

.button {
    border: solid #6cc5d2;
    border-radius: 0.2em;
    background-color: #6cc5d2;
    color: #ffffff;
    font-size: 1em;
    padding: 0.3em 0.4em;
    margin: 0.5em 0.5em 0.5em 0;
    text-shadow: 0 0 0.5em #2074a2;
}

.tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.tasks-table {
    margin: 1em 0;
    width: 100%;
    min-width: 35em;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: #ffffff;
}

.tasks-table th{
    padding: 0.7em;
    background-color: #6cc5d2;
    margin: 0;
    color: #f3f3f3;
    text-shadow: 0 0 0.5em #2074a2;
}

.tasks-table td {
    padding: 0.5em;
    border: 0.05em solid #6cc5d2;
    margin: 0;
    word-wrap: break-word;
    height: 1.5em;
}

th:first-child {
    border-top-left-radius:0.5em;
}

th:last-child {
    border-top-right-radius:0.5em;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}

tr:last-child td {
    border: none;
    border-right: 0.05em solid #6cc5d2;
}

tr:last-child td:last-child {
    border: none;
}

.tasks-date {
    border: none;
    background-color: #c5e8e8;
}

footer {
    background-color: #c5e8e8;
    padding: 0 1em 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.ideas-table th{
    background-color: #c5e8e8;
    text-align: left;
    color: #071822;
    text-shadow: none;
}

.loader {
    display: block;
    width: 0.8em;
    height: 0.8em;
    position: relative;
    left: 0.8em;
    border-radius: 50%;
    color: #6cc5d2;
    background: currentColor;
    box-shadow: 0em 0, 2em 0, 4em 0, 6em 0;
}

.loader::after {
    content: '';
    position: absolute;
    left: 2em;
    top: 0;
    width: 0.8em;
    height: 0.8em;
    border-radius: 10em;
    background:#6cc5d2;
    animation: move 3s linear infinite alternate;
}

@keyframes move {
    0%, 5% {
        left: 0em;
        width: 0.8em;
    }
    15%, 20% {
        left: 0em;
        width: 2.8em;
    }
    30%, 35% {
        left: 2em;
        width: 0.8em;
    }
    45%, 50% {
        left: 2em;
        width: 2.8em;
    }
    60%, 65% {
        left: 4em;
        width: 0.8em;
    }

    75%, 80% {
        left: 4em;
        width: 2.8em;
    }
    95%, 100% {
        left: 6em;
        width: 0.8em;
    }
}

.hidden{
    display: none;
}