.main-stuff, .main-table {
    width: 100%;
}

.tasks {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 0.7em;
}

@media screen and (max-width: 79em) {
    .tasks {
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (max-width: 61em) {
    .tasks {
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 43em) {
    .tasks {
        grid-template-columns: repeat(1, auto);
    }
}

.tasks-table {
    table-layout: fixed;
    width: 100%;
    min-width: 18em;
    margin: 0.3em;
}

.tasks-table th:nth-child(1) {
    width: 70%;
}

.tasks-table th:nth-child(2) {
    width: 30%;
}

.tasks-table th:last-child {
    text-align: left;
}